* {
    list-style: none;
    text-decoration: none;
    font-family: 'raleway', sans-serif;
    box-sizing: border-box;
}
a {
    color: black;
}
.body {
    max-width: 280px;
    max-height: 653px;
}
/* Header*/
.logo {
    width: 85px;
    margin: 15px;
    float: left;
}
.signup_btn {
    margin: 15px;
    margin-top: 29px;
    float: right;
    color: #0065FC;
    font-weight: bold;
}
.header_link {
    padding-top: 80px;
}
.hosting {
    display: flex;
    justify-content: space-around;
    width: 50%;
    color: #0065FC;
    border-bottom: 2px solid #0065FC;
    padding-bottom: 10px;
}
.activity{
    display: flex;
    justify-content: space-around;
    float: right;
    margin-top: -30px;
    width: 50%;
    border-bottom: 2px solid #F2F2F2;
    padding-bottom: 10px;
}
.activity:hover{
    color: #0065FC;
    border-bottom: 2px solid #0065FC;
    transition: .5s;
}
.title {
    margin: 15px;
}
.title h1 {
	font-style: bold;
    font-size: 17px;
}
.title p{
    font-size: 13px;
}
.searchbar {
    display: flex;
    align-items: center;
    margin-left: 10px;
}
.fa-map-marker-alt {
    background-color:#F2F2F2;
    border-radius: 15px 0 0 15px;
    padding: 17px;
    font-size: 16px;
}
input {
    width: 200px;
    border: 1px solid #F2F2F2;
    padding: 15px;
    font-weight: 700;
    color: black;
}
.placeholder::input-placeholder {
    font-weight: 800;
    color: black;
}
.fa-search {
    margin-left: -40px;
    background-color:#0065FC;
    color: white;
    border-radius: 15px 15px 15px 15px;
    padding: 17px;
    font-size: 16px;
}
.search_text {
    display: none;
}
img {
    max-width: 100%;
	width: 100%;
	max-height: 100%;
}
.filter p {
    font-weight: bold;
    margin-left: 15px;
    margin-top: 25px; 
}
.filter_btn{
    display: inline-flex;
    align-items: center;
    margin-left: 25px;
    font-weight: bold;
    border: 2px solid #cecece;
    height: 46px;
    margin-right: 20px;
    border-radius: 46px;
    margin-bottom: 8px;
    cursor: pointer;
    transition: .1s;
}
.filter_btn:hover{
    transform: scale(1.015);
}
.filter_btn_icon{
    display: flex;
	align-items: center;
	justify-content: center;
    margin-left: -12px;
    color: #0065FC;
    background-color: #DEEBFF;
    border-radius: 100%;
    height: 46px;
    width: 46px;
}
.filter_btn span{
    margin-left: 5px;
    margin-right: 10px;
}
.info{
    display: flex;
    align-items: center;
    margin-left: 15px;
}
.fa-info{
    color: #0065FC;
    border: 1px solid #cecece;
    width: 25px;
    height: 25px;
    text-align: center;
    border-radius: 50%;
    padding-top: 5px;
}
.info_text {
    font-size: 12px;
    margin-left: 5px;
    margin-right: 15px;
}
.hosting_notation{
    color: #0065FC;
}
.fa-star[data-active="true"] {
    color: #dfdfdf;
}
.popular {
    background-color: #F2F2F2;
}
.popular_header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 15px;
    font-size: 14px;
}
.hosting_title{
    margin-left: 15px;
    font-size: 18px;
    margin-top: 20px;
}
.view_more{
    margin-left: 15px;
    font-weight: bold;
}
.activity_title{
    margin: 15px;
    font-size: 20px;
}
.footer_container {
    background-color: #F2F2F2;
    height: 380px;
    padding-left: 15px;
    padding-top: 13px;
    margin-bottom: 0px;
}
.footer ul{
    padding: 0px 0px 0px 0px;
}
.footer li{
    margin-bottom: 15px;
}