* {
    list-style: none;
    text-decoration: none;
    font-family: 'raleway', sans-serif;
}
a {
    color: black;
}
/*header*/
.logo {
    width: 85px;
    margin: 15px;
    float: left;
}
.signup_btn {
    margin: 15px;
    margin-top: 29px;
    float: right;
    color: #0065FC;
    font-weight: bold;
}
.header_link {
    padding-top: 80px;
}
.hosting {
    display: flex;
    justify-content: space-around;
    width: 50%;
    color: #0065FC;
    border-bottom: 2px solid #0065FC;
    padding-bottom: 10px;
}
.activity{
    display: flex;
    justify-content: space-around;
    float: right;
    margin-top: -30px;
    width: 50%;
    border-bottom: 2px solid #F2F2F2;
    padding-bottom: 10px;
    transition: .3s;
}
.activity:hover{
    color: #0065FC;
    border-bottom: 2px solid #0065FC;
    
}
/*title*/
.title {
    margin: 15px;
}
.title h1 {
	font-weight: bold;
    font-size: 17px;
}
.title p{
    font-size: 13px;
}
/*searchbar*/
.searchbar {
    display: flex;
    align-items: center;
    margin-left: 10px;
}
.fa-map-marker-alt {
    background-color:#F2F2F2;
    border-radius: 15px 0 0 15px;
    padding: 17px;
    font-size: 16px;
}
input {
    min-width: 200px;
    border: 1px solid #F2F2F2;
    padding: 15px;
    font-weight: 700;
    color: black;
}
.placeholder[input-placeholder] {
    font-weight: 800;
    color: black;
}
.fa-search {
    margin-left: -40px;
    background-color:#0065FC;
    color: white;
    border-radius: 15px 15px 15px 15px;
    padding: 17px;
    font-size: 16px;
}
.search_text {
    display: none;
    background-color: #0065FC;
    color: white;
    border-radius: 0 15px 15px 0;
    padding: 15px;
    font-weight: bold;
}
img {
    max-width: 100%;
	width: 100%;
	max-height: 100%;
}
/*filter*/
.filter p {
    font-weight: bold;
    margin-left: 15px;
    margin-top: 25px; 
}
.filter_btn{
    display: inline-flex;
    align-items: center;
    margin-left: 25px;
    font-weight: bold;
    border: 2px solid #cecece;
    height: 46px;
    margin-right: 20px;
    border-radius: 46px;
    margin-bottom: 8px;
    cursor: pointer;
    transition: .1s;
}
.filter_btn:hover{
    transform: scale(1.015);
}
.filter_btn_icon{
    display: flex;
	align-items: center;
	justify-content: center;
    margin-left: -12px;
    color: #0065FC;
    background-color: #DEEBFF;
    border-radius: 100%;
    height: 50px;
    width: 50px;
}
.filter_btn span{
    margin-left: 5px;
    margin-right: 10px;
}
/*info*/
.info{
    display: flex;
    align-items: center;
    margin-left: 15px;
}
.fa-info:before {
    line-height: 24px;
}
.fa-info{
    color: #0065FC;
    border: 1px solid #cecece;
    width: 25px;
    height: 25px;
    text-align: center;
    border-radius: 50%;
}
.info_text {
    font-size: 12px;
    margin-left: 5px;
    margin-right: 15px;
}
/*popular*/
.fa-chart-line:before{
    content: "\f201";
    margin-left: 10px;
}
aside img {
    display: flex;
	justify-content: space-between;
    object-fit: cover;
    height: 110px;
    width: 25%;
	border-radius: 16px 0 0 16px;
}
aside .popular_img {
    display: inline-block;
}
.popular {
    background-color: #F2F2F2;
}
.popular_header{
    display: flex;
    align-items: center;
    margin: 15px;
    font-size: 14px;
}
.popular_card {
    display: flex;
    box-shadow: 0 0 16px #0000002e;
    background-color: white;
    border-radius: 16px;
    min-width: 250px;
    height: 110px;
    margin: 15px;
    transition-duration: 0.5s;
}
.popular_card:hover{
    transform: scale(1.02);
}
.popular_card figcaption{
    margin: 5px;
}
/*hosting*/
article img {
    object-fit: cover;
    height: 110px;
	border-radius: 16px 16px 0 0;
}
.hosting_notation{
    color: #0065FC;
    margin-top: -10px;
}
.fa-star[data-active="true"] {
    color: #dfdfdf;
}
.hosting_title{
    margin-left: 15px;
    font-size: 18px;
    margin-top: 20px;
}
.hosting_card{
    box-shadow: 0 0 16px #0000002e;
    border-radius: 16px;
    cursor: pointer;
    min-width: 250px;
    height: 200px;
    margin: 15px;
    transition-duration: 0.5s;
} 
.hosting_card:hover{
    transform: scale(1.02);
}
.hosting_card figcaption{
    margin-left: 5px;
}
.hosting_card_title{
    margin-top: 0px;
    font-size: 14px;
}
.hosting_card_price{
    margin-top: -10px;
}
.hosting_zone{
    border-radius: 16px 16px 0 0;
}
.whitespace{
    padding-top: 5px;
}
.view_more{
    margin-left: 15px;
    font-weight: bold;
}
/*activity*/
.activity_title{
    margin: 15px;
    font-size: 20px;
}
.activity_card_title{
    margin-top: 5px;
    margin-left: 5px;
    font-size: 16px;
}
.activity_card{
    border-radius: 16px 16px 16px 16px;
    box-shadow: 0 0 16px #0000002e;
    min-width: 250px;
    height: 190px;
    margin: 15px;
    transition-duration: .5s;
}
.activity_card:hover{
    transform: scale(1.02);
}
.activity_img{
    border-radius: 16px 16px 0 0;
    max-height: 150px;
}
/*FOOTER*/
.footer_container {
    background-color: #F2F2F2;
    height: 380px;
    padding-left: 15px;
    padding-top: 13px;
    margin-bottom: 0px;
}
.footer ul{
    padding: 0px 0px 0px 0px;
}
.footer li{
    margin-bottom: 15px;
}