@media screen and (min-width:1200px){
    .popular{
        float: right;
        max-width: 25%;
    }
    aside .popular_img{
        display: inline-block;
    }
    .hosting_zone{
        max-width: 70%;
    }
    .popular_card{
        margin-bottom: 57px;
    }
}