@media screen and (min-width:1200px){
    /*popular*/
    .popular{
        float: right;
        max-width: 25%;
    }
    aside .popular_img{
        display: inline-block;
    }
    .popular_card{
        margin-bottom: 57px;
    }
    /*hosting*/
    .hosting_zone{
        max-width: 70%;
    }
}