@media screen and (max-width:599px) {

}

@media screen and (min-width:400px) {
    .activity_zone a{
        display: flex;
        flex-direction: column;
    }
    aside .popular_img{
        display: flow-root;
    }
}