@media screen and (min-width:600px) {
    /*Search*/
    .loupe{
        display: none;
    }
    .search_text{
        display: block;
    }
    /*activity*/
    .activity_display{
        display: inline-grid;
        grid-template-columns: 1fr 1fr;
        overflow: hidden;
    }
}